 <header class="page-header">
    <h1>About Us</h1>
  </header>

  <h3>
    <i> If you like Amazon, you'll love the Jungle...</i>
  </h3>
  <p>
  Here at Jungle, we strive to bring the you the weirdest products that you would never actually want to buy. 
  <br>
  Have fun exploring our <i>wild</i> selection of <%= link_to 'products', :products %>!
  </p>